lgca/__pycache__/*
lgca/__pycache__
.idea/
.ipynb_checkpoints/
lgca/.idea/
lgca/base.pyc
.gitignore
tests/__pycache__
tests/.pytest_cache
docs/make.bat
docs/Makefile
docs/build/*
docs/source/*
.gitignore
__pycache__
/steric_evolution/*
/alignment_art.svg
/alignment_art_rainbow.svg
